!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title TanksWorld

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0'}
    %meta{name: 'robots', content: 'none'}
    %link{rel:  'stylesheet', href:  '/css/bootstrap-combined.no-icons.min-2.3.1.css', type:  'text/css'}
    %link{rel:  'stylesheet', href:  '/css/font-awesome.min.css', type:  'text/css'}
    %link{rel:  'stylesheet', href:  '/css/prettify.css', type:  'text/css'}
    %link{rel:  'stylesheet', href:  '/css/docs.css', type:  'text/css'}
    %link{rel:  'stylesheet', href:  '/css/extra.css', type:  'text/css'}
    %link{rel:  'stylesheet', href:  '/css/jquery-ui.min-1.10.2.css', type:  'text/css'}
    %link{rel:  'stylesheet', href:  '/css/google-webfonts-cedarville-cursive.css', type: 'text/css'}

    %script{type: 'text/javascript', src: "/js/jquery.min-1.9.1.js"}
    %script{type: 'text/javascript', src: "/js/jquery-ui.min-1.10.2.js"}
    %script{type: 'text/javascript', src: "/js/bootstrap.min-2.3.1.js"}
    / [if lt IE 9]
    %script{src: "/js/html5.js"}
    

  %body
    =yield
    %br
    %footer
      %p.footer &copy; Chang Sau Sheong 2013
      
:css
  a:link { text-decoration: none; }
  .arena {height: 250px; background-color: LightCyan;}
  .arena-add {height: 250px; background-color: whitesmoke;}
  